.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.); /* Fondo semi-transparente */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
}

html{
    height: 100%;
  }
  body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #37474F;
    margin: 0;
  }
  #outer {
    stroke: white;
  }
  .loader {
    width: 200px;
  }
  h3 {
    font-family: sans-serif;
    color: #cdfff8;
    text-align: center;
  }
  svg {
    filter: drop-shadow(  -1px -1px 5px cyan );
  }
  
  h3 {
    text-shadow: 1px 1px 5px #cdfff8;
  }