@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400,300);
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
body {
	font-family: 'Open Sans', sans-serif;
}
.brand {
	font-family: 'Orbitron', sans-serif;
}
html,
body {
	height: 100%;
}
body {
	font-size: 15px;
	line-height: 1.50;
	color: #292929;
	/* background-color: #B5B5B5; */
	position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #1F1F1F;
}
h1 {
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 20px;
}
h2 {
	font-size: 28px;
	margin-bottom: 15px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 18px;
	font-weight: 700;
}
h5 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
}
h6 {
	font-weight: 700;
}
h7 {
	font-size: 34px;
	font-weight: 700;
	margin-bottom: 100px;
	color:black;
}
h1 span,
h2 span,
h3 span,
h4 span {
	color: #f19a36;
}
.colored {
	color: #E45454;
}
a {
	color: #55acee;
}
a:hover {
	color: #339BEB;
}
a:focus,
a:active {
	outline: none;
}
.large {
	font-size: 18px;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.image-container {
	position: relative;
	display: inline-block;
}
  
.image-container img {
	display: block;
	width: 100%;
	height: auto;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff; /* color del texto */
}

.icon2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -15%);
	text-align: center;
	font-size: 65px;
	color: #f19a36;
}
.icon3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -0%);
	text-align: center;
	font-size: 65px;
	color: #f19a36;
}

h1 img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}
.list-unstyled li {
	padding: 5px 0;
}
.list-horizontal {
	padding: 15px 0;
}
.list-horizontal-item img {
	display: block;
	margin: 0 auto;
}
.list-icons {
	padding: 0;
	margin: 20px 0;
	list-style: none;
	font-size: 18px;
}
.list-icons li {
	padding: 0 0 15px 0;
}
blockquote {
	border-left: none;
	padding-left: 0;
	padding-right: 0;
}
.title {
	margin-top: 0;
}

.lead {
    font-size: 16px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #C12331;
}

.navbar-default .navbar-nav > li > a {
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.68);
    font-weight: 700;
    font-size: 16px;
    font-family: 'Orbitron', sans-serif; /* Aplicar Orbitron aquí */
}

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a:hover {
    color: #FFFFFF;
}
/* Layout
----------------------------------------------------------------------------- */
.header {
	color: #020202;
	background-color: rgba(225, 175, 43, 0);
	padding: 10px 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.banner {
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	color: #fff;
	position: relative;
}
.banner-image {
	vertical-align: middle;
	min-height: 100%;
	width: 100%;
}
.banner:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	content: "";
}
.banner-video-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
  }
  
  .banner-video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
  }
.banner-caption {
	
	position: absolute;
	top: 44%;
	width: 100%;
	z-index: 2;
	left: 0px;
	text-align: center;
	right: 0;
}
.banner-caption h1 {
    font-family: 'Audiowide', sans-serif;
    font-size: 45px; /* Asegúrate de ajustar el tamaño como desees */
    color: #ffffff; /* Asegúrate de que el color sea visible en tu banner */
}
.subfooter {
	background-color: #222222;
	padding: 40px 0;
}
.subfooter a {
color: #f19a36;
}
.section {
	/* background-color: #ffffff; */
	padding: 80px 0;
}

.section-background-portal {
    background-image: url("/images/portal.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0;
    color: #ffffff;
  }

  .section-background-portal2 {
    background-image: url("/images/alien-landscape.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0;
    color: #ffffff;
  }

  .section-background-portal4 {
    background-image: url("/images/libro1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0;
    color: #ffffff;
  }

  .section-background-portal3 {
    background-image: url("/images/TitleScreen.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0;
    color: #ffffff;
  }

  .section-background-features {
    background-image: url("/images/—Pngtree—forest\ mysterious\ tree\ background_2383685.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0;
    color: #ffffff;
  }

  .section-background-gallery {
    background-image: url("/images/bg10.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0;
    color: #ffffff;
  }

  .section-background-gallery2 {
    background-image: url("/images/bg120.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0;
    color: #ffffff;
  }

  .section-background-teclado {
    background-image: url("/images/Controls/teclado.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0;
    color: #ffffff;
  }

  
  .section-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

/* Backgrounds
----------------------------------------------------------------------------- */
.default-bg {
	background-color: #E3E3E3;
	color: #ffffff;
}
.default-bg.blue {
	background-color: #55acee;
}
.btn-primary {
color: #fff;
background-color: #f19a36;
border:0px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
color: #fff;
background-color: #E45454;
border:0px;
}
.transprant-bg {
	color: #ffffff;
}
.default-bg h1,
.default-bg h2,
.default-bg h3,
.default-bg h4,
.default-bg h5,
.default-bg h6,
.transprant-bg h1,
.transprant-bg h2,
.transprant-bg h3,
.transprant-bg h4,
.transprant-bg h5,
.transprant-bg h6 {
	color: #f19a36;
}
.default-bg blockquote footer,
.transprant-bg blockquote footer {
	color: #cccccc;
}
.default-bg a,
.transprant-bg a {
	color: #ffffff;
	text-decoration: underline;
}
.default-bg a:hover,
.transprant-bg a:hover {
	text-decoration: none;
}
.transprant-bg {
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-position: 50% 0;
	background-repeat: no-repeat;
	z-index: 1;
	position: relative;
	background: #fff;
}
.transprant-bg .transprant-bg {
	margin-top: 80px;
	z-index: 3;
}
.transprant-bg:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: #E1E1E1;
}
.transprant-bg.blue:after {
	background-color: rgba(85, 172, 238, 0.7);
}
.transprant-bg .container {
	z-index: 3;
	position: relative;
}
.bg-image-1 {
	background: url("../images/bg-image-1.jpg") 50% 0px no-repeat;
}
.bg-image-2 {
}
.caption-data {position: absolute; top: 50%; right: 0; left: 0; text-align: left; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); transform: translate(-50%,-50%);text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.24);/* text-align: center; *//* left: 0; *//* right: 0; *//* margin: 0 auto; *//* float: left; *//* clear: both; *//* background-color: red; *//* width: 100%; *//* display: block; *//* float: left; *//* position: relative; */}
.caption-data h1 {text-transform: uppercase;}
.caption-data h1 span {font-size: inherit; line-height: inherit; font-weight: inherit;}
.caption-data h3{line-height:34px;font-size: 30px;}


button.cta-button {
	background-color: rgba(0, 0, 0, 0.5); /* Fondo negro transparente */
    color: #ffffff; /* Texto en blanco */
    border: 2px solid #4CAF50; /* Borde sólido verde */
    padding: 18px 42px; /* Padding adecuado para los botones */
    font-size: 16px; /* Tamaño de letra apropiado */
    font-weight: bold; /* Negrita para hacer el texto más prominente */
    cursor: pointer; /* Cursor tipo pointer para indicar que es clickeable */
    transition: all 0.3s ease; /* Transición suave para efectos de hover */
    text-transform: uppercase; /* Texto en mayúsculas para más impacto */
	border-radius: 0;
	font-weight: 600;
	transition: background 0.3s, border-color 0.3s;
	margin-top:20px;
}
button.cta-button:hover{
	background-color: #4CAF50; 
    color: #0a0f0d; 
    border-color: #ffffff;
}


/* Misc
----------------------------------------------------------------------------- */
.no-view {
	opacity: 0;
	filter: alpha(opacity=0);
}
.object-visible,
.touch .no-view {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

/* Targeting only Firefox for smoothest animations */
@-moz-document url-prefix() {
	.object-visible,
	.touch .no-view {
		-webkit-transition: opacity 0.6s ease-in-out;
		-moz-transition: opacity 0.6s ease-in-out;
		-o-transition: opacity 0.6s ease-in-out;
		-ms-transition: opacity 0.6s ease-in-out;
		transition: opacity 0.6s ease-in-out;
	}
}
.space {
	padding: 20px 0;
}
.pr-10 {
	padding-right: 10px;
}
.pl-10 {
	padding-left: 10px;
}
.pclear {
	padding-bottom: 0;
}
.secPadding{
padding: 70px 0;
}
/* Sections
----------------------------------------------------------------------------- */
.banner-caption h1,
.banner-caption h2,
.banner-caption h3,
.banner-caption h4,
.banner-caption h5,
.banner-caption h6 {
	color: #ffffff;
}
.banner-caption h1 {
	font-size: 45px;
}
.footer h1{
color:#fff;
}
.footer.section {
background: #222222;
color: #949494;
}
.subfooter p {
	margin-bottom: 0;
	color: #fff;
}
.hero-caption{
text-align:center;
padding:40px 0;
background-color: #FFFFFF;}
.hero-caption h2{
text-align:center;
}
.hero-caption p{

color: #000;
}
.hero-caption2{
	text-align:center;
	padding:0px;
	background-color: #FFFFFF;
}
 .fa-angle-down {
    position: absolute;
    left: 50%;
    color: #fff;
    display: inline-block;
    width: 24px;
    margin-left: -12px;
    font-size: 36px;
    line-height: 24px;
    z-index: 999;
    -webkit-animation: bounce 3000ms infinite;
    animation: bounce 3000ms infinite;
    margin-top: 38px;
    font-weight: bolder;
}
.panel-default {
    border-color: #ddd;
}
.panel-heading h3, .panel-title{
color: #f19a36;
}
.panel {
    margin-bottom: 20px;
    background-color: rgb(227, 227, 227);
    border: transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
    padding: 15px;
}
.box-services {
  padding: 40px 20px 20px;
  border-bottom: 1px solid #d4d4d4;
  background: #FFFFFF;
  margin-bottom: 30px;
  font-size: 16px;
  /* z-index: 1; */
}
.box-services .icon {
  text-align: center;
  font-size: 25px;
  color: #f19a36;
}
.box-services p {
  color: #000000;
  text-align: center;
  font-size: 14px;
}
.box-services2 {
	padding: 40px 20px 20px;
	border-bottom: 1px solid #d4d4d4;
	background: #FFFFFF;
	margin-bottom: 30px;
	font-size: 16px;
	position: relative;
}
.box-services2 .icon {
	text-align: center;
	font-size: 25px;
	color: #f19a36;
}
h4.heading {
    margin-bottom: 20px;
	text-align:center;
	color:#000;
}
.heading:after {
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    margin: 20px auto 20px;
    /* background: #E45454; */
    border: dashed 1px #E1E1E1;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 15px 15px;
    margin-bottom: -1px;
    background-color: transparent;
    color: rgb(76, 76, 76);
}


/* Media
---------------------------------- */
.media .fa {
	font-size: 47px;
	width: 40px;
	height: 25px;
	line-height: 25px;
	padding: 0 5px;
	text-align: center;
}

/* Navigations
----------------------------------------------------------------------------- */
.header .navbar {
	margin-bottom: 0;
}
.main-navigation .navbar-default {
	background-color: transparent;
	border: none;
}
.main-navigation .navbar-default .navbar-nav > li > a {
	padding: 10px 20px;
	color: rgba(255, 255, 255, 0.68);
	font-weight: 700;
	font-size: 16px;
}
.main-navigation .navbar-default .navbar-nav > li.active > a {
	background-color: transparent;
	color: #FFFFFF;
}
.main-navigation .navbar-default .navbar-nav > li > a:hover,
.main-navigation .navbar-default .navbar-nav > li.active > a:hover {
	color: #FFFFFF;
}



/* Blocks/Widgets
----------------------------------------------------------------------------- */
/* Logo, Site Name, Site Slogan
---------------------------------- */
.logo {
	margin: 10px 0px 10px 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.logo,
.logo-section {
	float: left;
}
.brand {
	font-size: 34px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 10px 0;
}
.brand a {
	color: #FFFFFF;
	font-weight: 600;
}
.brand a:hover {
	text-decoration: none;
}
.site-slogan {
	font-size: 12px;
}
/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
        #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

@media (min-width:768px) {
	.main-navigation .navbar-default .navbar-nav > li > a {
		padding-top: 30px;
		padding-bottom: 30px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
}
@media (min-width:768px) and (max-width:991px) {
	.main-navigation .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-nav {
		float: left !important;
	}
}
@media (max-width:767px) {
	.header.navbar-fixed-top {
		position: fixed;
		padding: 0;
		 
	}
	.brand {
		font-size: 20px;
	}
.fixed-header-on .header , .navbar-fixed-top{
    padding: 5px 0;
    background-color: #f19a36;
}
	.banner-caption h1{
	font-size:23px;
	}
	.banner-caption {
    position: absolute;
    top: 34%;
	}
	.navbar-default .navbar-toggle {
    border-color: #E65E6B;
    border-radius: 0;
    margin: 8px 0 0;
}
}

/* Fixed Header
----------------------------------------------------------------------------- */
.fixed-header-on .header {
	padding: 5px 0;
	background-color: #4CAF50;
}
.fixed-header-on .brand {
	font-size: 24px;
}
.fixed-header-on .logo {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	margin-top: 0;
	margin-bottom: 0;
}
@media (min-width:768px) {
	.fixed-header-on .navbar-default .navbar-nav > li > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media (max-width:991px) {
	.fixed-header-on .logo,
	.fixed-header-on .brand,
	.fixed-header-on .site-slogan {
		display: none;
	}
}


/* team style css */
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #e03a3c;
    text-decoration: none;
  }
  
  a:hover {
    color: #e76668;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  
  /* Estilos para la sección del equipo */
  .team .team-wrap img {
    transition: all ease-in-out 0.3s;
  }
  
  .team .team-wrap:hover img {
    transform: scale(1.2);
  }
  
  .team .team-wrap .team-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
  }
  
  .team .team-wrap .team-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  
  .team .team-wrap .team-info p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-style: italic;
  }
  
  .team .team-wrap:hover .team-info {
    opacity: 1;
  }
  
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }

  .nav li {
    float: left; /* Esto hace que los elementos de la lista se alineen horizontalmente */
}


/*nav bar para game guide dropdown*/
  
.nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.nav .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.navbar-default .dropdown-menu {
    background: none; /* Elimina el color de fondo */
    border: none; /* Elimina el borde */
    box-shadow: none; /* Elimina la sombra */
    font-family: 'Orbitron', sans-serif; /* Estilo de fuente, ajusta según sea necesario */
    top: +55px; /* Mueve el menú hacia arriba en 10px */
}


.navbar-default .dropdown-menu a {
    color: #ccc; /* Color de los enlaces */
    font-size: 16px; /* Tamaño de la tipografía */
    line-height: 1.5; /* Espaciado entre líneas */
    padding: 12px 16px; /* Ajusta el espaciado para que sea más fácil hacer clic */
    padding-left: 30px; /* Aumenta el padding izquierdo para desplazar el texto hacia la derecha */
    display: block; /* Asegura que cada enlace ocupe su propia línea */
    text-decoration: none; /* Sin subrayado */
    background: none; /* Asegura que no haya fondo en los enlaces */
}

.navbar-default .dropdown-menu a:hover {
    color: #4CAF50; /* Cambia el color del texto al pasar el mouse */
    background: none; /* Fondo transparente al pasar el mouse */
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    font-weight: bold; /* Hace la fuente negrita */
    transform: scale(1.1); /* Escala ligeramente el enlace para dar un efecto de crecimiento */
}






@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-default .dropdown-menu li {
    
	
    animation-fill-mode: forwards; /* Mantiene la propiedad del último frame de la animación */
	animation: slideIn 0.5s ease-out; /* Aplica la animación con una duración y efecto */
	
}

.navbar-default .dropdown-menu.show li {
    
	animation: slideIn 0.5s ease-out; /* Aplica la animación con una duración y efecto */
	
}

#model-container {
    width: 800px; /* Ancho del contenedor */
    height: 600px; /* Alto del contenedor */
    margin: auto; /* Centrar el contenedor */
}
